{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

<div class="collection-slider">
        <div>your content</div>
        <div>your content</div>
        <div>your content</div>
        <div>your content</div>
        <div>your content</div>
        <div>your content</div>
        <div>your content</div>
        <div>your content</div>
        <div>your content</div>
        <div>your content</div>
        <div>your content</div>
        <div>your content</div>
        <div>your content</div>
        <div>your content</div>
        <div>your content</div>
      </div>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
